{% extends 'base.html.twig' %}

{% block title %}Reservations{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
     #otheroption {display:none;}
     label {display:table;}
     input, textarea {width:100%;}
</style>

    <script>
        $(document).ready(function(){
            $("#reservations_reservation_type").change(function(){
                var value = $(this).val();
                if(value=="other")
                {
                    $("#otheroption").show();
                }
                else
                {
                    $("#otheroption").hide();
                }
            });


            var input = document.querySelector("#reservations_phonenumber");
            window.intlTelInput(input, {
                initialCountry: "auto",
                geoIpLookup: function(callback) {
                    $.get('https://ipinfo.io', function() {}, "jsonp").always(function(resp) {
                        var countryCode = (resp && resp.country) ? resp.country : "";
                        callback(countryCode);
                    });
                },

            });







        });



    </script>
<div class="example-wrapper">

    <h2>Reservation Form</h2>

    {{ form_start(form) }}

    {{ form_row(form.fullname) }}
    {{ form_row(form.lastname) }}
    {{ form_row(form.Email) }}
    {{ form_row(form.phonenumber) }}
    {{ form_row(form.number_of_guests) }}
    {{ form_row(form.date) }}
    {{ form_row(form.time) }}
    {{ form_row(form.reservation_type) }}
    <div id="otheroption"> {{ form_row(form.other) }} </div>
    {{ form_row(form.any_special_requests) }}

    <button class="btn btn-primary" type="submit">Submit</button>
    {{ form_end(form) }}

</div>
{% endblock %}






