{% extends 'base.html.twig' %}

{% block title %}Results{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>View Submissions</h1>
        <a href="{{ path('export') }}" class="btn btn-primary " role="button">EXPORT DATA TO CSV</a>

        <table class="table">
                <thead class="thead-dark">
                <tr>
                        <th scope="col">Full Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone Number</th>
                        <th scope="col">Number Of Guests</th>
                        <th scope="col">Date</th>
                        <th scope="col">Time</th>
                        <th scope="col">Reservation Type</th>
                        <th scope="col">Other</th>
                        <th scope="col">Any Special Requests</th>

                </tr>
                </thead>
                <tbody>
                {% for result in results %}
                <tr>
                        <td>{{ result.fullname }}</td>

                        <td>{{ result.lastname }}</td>

                        <td>{{ result.Email }}</td>

                        <td>{{ result.phonenumber }}</td>

                        <td>{{ result.numberofguests }}</td>

                        <td>{{ result.date|date('Y-m-d') }}</td>

                        <td>{{ result.time|date('H:i:s') }}</td>

                        <td>{{ result.reservationtype }}</td>

                        <td>{{ result.other }}</td>

                        <td>{{ result.anyspecialrequests }}</td>
                </tr>
                {% endfor %}
                </tbody>
        </table>

</div>
{% endblock %}
